[submodule "third_party/TensorRT-RTX"]
	path = third_party/TensorRT-RTX
	url = https://github.com/NVIDIA/TensorRT-RTX.git
[submodule "third_party/RTXNS"]
	path = third_party/RTXNS
	url = https://github.com/NVIDIA-RTX/RTXNS.git
